<table class="main-table">
  <thead>
    <th>Joueur</th>
    <th *ngFor="let round of rounds">{{ round }}</th>
    <th>Total</th>
  </thead>
  <tbody>
    <tr *ngFor="let score of scoresObs | async">
      <td class="player">{{ score.player }}</td>
      <td class="points" *ngFor="let round of score.rounds">
        <table class="sub-table">
          <tr>
            <td *ngFor="let points of round.points">{{ points }}</td>
          </tr>
          <tr>
            <td colspan="2">{{ round.total }}</td>
          </tr>
        </table>
      </td>
      <td class="total">{{ score.total }}</td>
    </tr>
  </tbody>
</table>
