form {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .mat-form-field {
    width: 200px;
    margin-right: 10px;
  }
}
