<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>{{ playerName }}</mat-label>
    <input
      matInput
      [id]="controlKeys.points"
      [name]="controlKeys.points"
      [formControlName]="controlKeys.points"
      [errorStateMatcher]="errorMatcher"
      type="number"
    />
  </mat-form-field>

  <button mat-mini-fab color="primary" type="submit" [disabled]="!this.form.valid">
    <mat-icon aria-hidden="false" aria-label="Ajouter points" fontIcon="add"></mat-icon>
  </button>
</form>
