<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{ playerName }}</mat-label>
    <!-- <input matInput placeholder="Ex. Pizza" value="Sushi" /> -->
    <input
      matInput
      [id]="controlKeys.points"
      [name]="controlKeys.points"
      [formControlName]="controlKeys.points"
      type="number"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!this.form.valid">
    Ajouter points
  </button>
</form>
